# Stata dataset and output files
*.dta
*.log
*.csv
*.txt
*.pdf
*.sas7bdat
*.zip
*.xlsx
.DS_Store

# hard-commit files
!election/input/1978-2018-house3.csv
!retaliatory/input/impt2017.sas7bdat
!zbp/input/ZIP_CD_032016.xlsx

